<div>
    <h2>
        <span jhiTranslate="rorumApp.glossaryOfMeasureUnits.home.title">Glossary Of Measure Units</span>
        <button *jhiHasAnyAuthority="'ROLE_EDYCJA_SLOWNIKA_MIERNIKOW'" class="btn btn-primary float-right jh-create-entity create-glossary-of-measure-units" [routerLink]="['/', { outlets: { popup: ['glossary-of-measure-units-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rorumApp.glossaryOfMeasureUnits.home.createLabel">
            Create new Glossary Of Measure Units
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="glossaryOfMeasureUnitsDTO">
        <table *jhiHasAnyAuthority="'ROLE_PRZEGLADANIE_SLOWNIKA_MIERNIKOW'" class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="rorumApp.glossaryOfMeasureUnits.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unitsOfMeasurement"><span jhiTranslate="rorumApp.glossaryOfMeasureUnits.unitsOfMeasurement">Units Of Measurement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="frequencyOfGatheringData"><span jhiTranslate="rorumApp.glossaryOfMeasureUnits.frequencyOfGatheringData">Frequency Of Gathering Data</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="isChecked"><span jhiTranslate="rorumApp.glossaryOfMeasureUnits.isChecked">Is Checked</span> <span class="fa fa-sort"></span></th> -->
            <!-- <th jhiSortBy="glossaryOfRisksService.id"><span jhiTranslate="rorumApp.glossaryOfMeasureUnits.glossaryOfPurposes">Glossary Of Purposes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="organisationStructure.id"><span jhiTranslate="rorumApp.glossaryOfMeasureUnits.organisationStructure">Organisation Structure</span> <span class="fa fa-sort"></span></th> -->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let glossaryOfMeasureUnitsDTO of glossaryOfMeasureUnitsDTO ;trackBy: trackId">
                <td><a [routerLink]="['../glossary-of-measure-units', glossaryOfMeasureUnitsDTO.id ]">{{glossaryOfMeasureUnitsDTO.id}}</a></td>
                <td>{{glossaryOfMeasureUnitsDTO.name}}</td>
                <td jhiTranslate="{{'rorumApp.UnitsOfMeasurement.' + glossaryOfMeasureUnitsDTO.unitsOfMeasurement}}">{{glossaryOfMeasureUnitsDTO.unitsOfMeasurement}}</td>
                <td jhiTranslate="{{'rorumApp.FrequencyOfGatheringData.' + glossaryOfMeasureUnitsDTO.frequencyOfGatheringData}}">{{glossaryOfMeasureUnitsDTO.frequencyOfGatheringData}}</td>
                <!-- <td>{{glossaryOfMeasureUnitsDTO.isChecked}}</td> -->
                <!-- <td>
                    <div *ngIf="glossaryOfMeasureUnitsDTO.glossaryOfPurposes">
                        <a [routerLink]="['../glossary-of-purposes', glossaryOfMeasureUnitsDTO.glossaryOfPurposes?.id ]" >{{glossaryOfMeasureUnitsDTO.glossaryOfPurposes?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="glossaryOfMeasureUnitsDTO.organisationStructure">
                        <a [routerLink]="['../organisation-structure', glossaryOfMeasureUnitsDTO.organisationStructure?.id ]" >{{glossaryOfMeasureUnitsDTO.organisationStructure?.id}}</a>
                    </div>
                </td> -->
                <td *jhiHasAnyAuthority="'ROLE_EDYCJA_SLOWNIKA_MIERNIKOW'" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../glossary-of-measure-units', glossaryOfMeasureUnitsDTO.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'glossary-of-measure-units/'+ glossaryOfMeasureUnitsDTO.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'glossary-of-measure-units/'+ glossaryOfMeasureUnitsDTO.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="glossaryOfMeasureUnitsDTO && glossaryOfMeasureUnitsDTO.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
