</br>
<div class="footer" align="center">
    <div>&nbsp;</div>
    <div class="row" style="border-top: transparent; width: 70%; text-align: left;">
        <div class="col-md-4">
            <ul>
                <li>Instrukcja korzystania z serwisu</li>
                <li>Zgłoś błąd</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Najczęściej zadawane pytania (FAQ)</li>
                <li>Urząd Miasta Stołecznego Warszawa</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Kontakty</li>
                <li>Ogłoszenia i komunikaty</li>
            </ul>
        </div>
    </div>

</div>