<div *ngIf="setOfSentPurposes">
    <div class="jumbotron my-5">
        <div class="container">
            <h3 class="display-4">
                Status planu:
                <span style="text-align: left; font-size: 1em; color:limegreen" *ngIf="((statusOfSending === 'CONFIRMED')
                    || (statusOfSending === 'CONFIRMED1') || (statusOfSending === 'CONFIRMED2')
                    || (statusOfSending === 'CONFIRMED_PLAN') || (statusOfSending === 'CONFIRMED_PURPOSES'))"
                      jhiTranslate="{{'rorumApp.StatusOfSending.' + statusOfSending}}">Status
            </span>
            </h3>
            <p class="lead text-muted">Przykładowy tekst z krótkim opisem</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="my-5" *ngIf="purposes">
        <form [formGroup]="incident" novalidate>
            <div class="container-inner">
                <div class="row mx-5">
                    <div class="col-md-12">
                        <h3 class="lead">Czy incydent jest krytyczny?</h3>
                        <p-checkbox [formControl]="incident.controls['isCritical']" binary="true"></p-checkbox>
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Opis incydentu</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea2">Opis reakcji</label>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"
                                      formControlName="descriptionOfReaction"></textarea>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea3">Opis planowanych aktywności (?)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"
                                      formControlName="descriptionOfPlannedActivities"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row mx-5">
                    <div class="form-group col col-lg-6">
                        <label>Cel:</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-outline-danger" (click)="clearChosenPurpose()"
                                        title="Wyczyść pole">x</button>
                            </span>
                            <!--<select-->
                            <!--class="form-control"-->
                            <!--[(ngModel)]="chosenPurposeId"-->
                            <!--(change)="getRisks(chosenPurposeId)">-->
                            <!--<option *ngFor="let p of purposes" [value]="p.id">-->
                            <!--{{p.name}}-->
                            <!--</option>-->
                            <!--</select>-->
                            <select
                                formControlName="glossaryOfPurposesId"
                                class="form-control"
                                (change)="getRisks(incident.controls['glossaryOfPurposesId'])">
                                <option *ngFor="let p of purposes" [value]="p.id">
                                    {{p.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col col-lg-6">
                        <label>Ryzyko:</label>
                        <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-outline-danger" (click)="clearChosenRisk()"
                                    title="Wyczyść pole">x</button>
                        </span>
                            <select
                                formControlName="filledRisksId"
                                class="form-control">
                                <option *ngFor="let r of risks" [value]="r.id">
                                    {{r.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mx-5">
                    <div class="col-md-12 my-2" *ngIf="incident.invalid">
                        <p-message severity="warn" text="Nie wszystkie wymagane pola są wypełnione!"></p-message>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<pre>{{incident.value | json}}</pre>

</div>
<div align="right">
    <button class="btn btn-info btn-sm" (click)="createIncident()">Zgłoś incydent</button>
</div>
</div>
</div>




