
<div *ngIf="highRisk">
    <h2><span jhiTranslate="rorumApp.highRisk.detail.title">High Risk</span> {{highRisk.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rorumApp.highRisk.rejectToAccomplishPurpose">Reject To Accomplish Purpose</span></dt>
        <dd>
            <span>{{highRisk.rejectToAccomplishPurpose}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.postponePurposeAccomplishment">Postpone Purpose Accomplishment</span></dt>
        <dd>
            <span>{{highRisk.postponePurposeAccomplishment}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.restrictRangeOfPurposeAccomplishment">Restrict Range Of Purpose Accomplishment</span></dt>
        <dd>
            <span>{{highRisk.restrictRangeOfPurposeAccomplishment}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.costOfListedPossibilities">Cost Of Listed Possibilities</span></dt>
        <dd>
            <span>{{highRisk.costOfListedPossibilities}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.projectedTermDeployStart">Projected Term Deploy Start</span></dt>
        <dd>
            <span>{{highRisk.projectedTermDeployStart}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.projectedTermDeployFinish">Projected Term Deploy Finish</span></dt>
        <dd>
            <span>{{highRisk.projectedTermDeployFinish}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.probabilityToReach">Probability To Reach</span></dt>
        <dd>
            <span>{{highRisk.probabilityToReach}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.powerOfInfluenceToReach">Power Of Influence To Reach</span></dt>
        <dd>
            <span>{{highRisk.powerOfInfluenceToReach}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.analyze">Analyze</span></dt>
        <dd>
            <span jhiTranslate="{{'rorumApp.AnalyzeOfRisk.' + highRisk.analyze}}">{{highRisk.analyze}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.substantiationForAnalyze">Substantiation For Analyze</span></dt>
        <dd>
            <span>{{highRisk.substantiationForAnalyze}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.commentToHighRiskProcedure">Comment To High Risk Procedure</span></dt>
        <dd>
            <span>{{highRisk.commentToHighRiskProcedure}}</span>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.decisionForRisk">Decision For Risk</span></dt>
        <dd>
            <div *ngIf="highRisk.decisionForRisk">
                <a [routerLink]="['/decision-for-risk', highRisk.decisionForRisk?.id]">{{highRisk.decisionForRisk?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="rorumApp.highRisk.possibilitiesToImproveRisk">Possibilities To Improve Risk</span></dt>
        <dd>
            <span *ngFor="let possibilitiesToImproveRisk of highRisk.possibilitiesToImproveRisks; let last = last">
                <a [routerLink]="['/possibilities-to-improve-risk', possibilitiesToImproveRisk?.id ]">{{possibilitiesToImproveRisk.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'high-risk/'+ highRisk.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
