<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGlossaryOfCommercialRisksLabel" jhiTranslate="rorumApp.glossaryOfCommercialRisks.home.createOrEditLabel">Create or edit a Glossary Of Commercial Risks</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!glossaryOfCommercialRisksDTO.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="glossaryOfCommercialRisksDTO.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rorumApp.glossaryOfCommercialRisks.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="glossaryOfCommercialRisksDTO.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rorumApp.glossaryOfCommercialRisks.completionDate" for="field_completionDate">Completion Date</label>
            <div class="input-group">
                <input id="field_completionDate" type="text" class="form-control" name="completionDate" ngbDatepicker  #completionDateDp="ngbDatepicker" [(ngModel)]="glossaryOfCommercialRisksDTO.completionDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="completionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.completionDate?.dirty && editForm.controls.completionDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.completionDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rorumApp.glossaryOfCommercialRisks.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="glossaryOfCommercialRisksDTO.creationDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rorumApp.glossaryOfCommercialRisks.importantTo" for="field_importantTo">Important To</label>
            <div class="input-group">
                <input id="field_importantTo" type="text" class="form-control" name="importantTo" ngbDatepicker  #importantToDp="ngbDatepicker" [(ngModel)]="glossaryOfCommercialRisksDTO.importantTo"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="importantToDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.importantTo?.dirty && editForm.controls.importantTo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.importantTo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rorumApp.glossaryOfCommercialRisks.isChecked" for="field_isChecked">Is Checked</label>
            <input type="checkbox" class="form-control" name="isChecked" id="field_isChecked"
                [(ngModel)]="glossaryOfCommercialRisksDTO.isChecked"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rorumApp.glossaryOfCommercialRisks.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="glossaryOfCommercialRisksDTO.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === glossaryOfCommercialRisksDTO.user?.id ? glossaryOfCommercialRisksDTO.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rorumApp.glossaryOfCommercialRisks.organisationStructure" for="field_organisationStructure">Organisation Structure</label>
            <select class="form-control" id="field_organisationStructure" name="organisationStructure" [(ngModel)]="glossaryOfCommercialRisksDTO.organisationStructure" >
                <option [ngValue]="null"></option>
                <option [ngValue]="organisationStructureOption.id === glossaryOfCommercialRisksDTO.organisationStructure?.id ? glossaryOfCommercialRisksDTO.organisationStructure : organisationStructureOption" *ngFor="let organisationStructureOption of organisationstructures; trackBy: trackOrganisationStructureById">{{organisationStructureOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
