/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}
.syrenka {
    display: inline-block;
    width: 200px;
    height: 250px;
    background: url("../../content/images/syrenka-firstpage.jpg") no-repeat right bottom;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.syrenka-main {
    display: inline-block;
    width: 350px;
    height: 400px;
    background: url("../../content/images/syrenka-main.png") no-repeat center top;
    background-size: contain;
}
.form {
    min-height: 400px;
}