<div>
    <h2>
        <span jhiTranslate="rorumApp.decisionForRisk.home.title">Decision For Risks</span>
        <button class="btn btn-primary float-right jh-create-entity create-decision-for-risk" [routerLink]="['/', { outlets: { popup: ['decision-for-risk-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="rorumApp.decisionForRisk.home.createLabel">
            Create new Decision For Risk
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="decisionForRisks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rorumApp.decisionForRisk.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let decisionForRisk of decisionForRisks ;trackBy: trackId">
                <td><a [routerLink]="['../decision-for-risk', decisionForRisk.id ]">{{decisionForRisk.id}}</a></td>
                <td>{{decisionForRisk.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../decision-for-risk', decisionForRisk.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'decision-for-risk/'+ decisionForRisk.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'decision-for-risk/'+ decisionForRisk.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
