<p-growl [life]=4000 [(value)]="msgs"></p-growl>

<div *ngIf="showLoader" class="text-center">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</div>

<p-dialog header="Proszę określić parametry dotyczące tworzonego procesu" [(visible)]="createPropositionDialog" modal="modal" [responsive]="true">
    Funkcjonalność jeszcze nie przygotowana
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="createPropositionDialog=false">Anuluj</button>
    </p-footer>
</p-dialog>


<div *ngIf="!commercialRisks">
    Przykro mi, lecz nie masz praw do przeglądania tych treści.
</div>

<div *ngIf="commercialRisks" class="betterFont">
    <div *ngIf="createProposition">
        <!--Zgłoś propozycję celu:-->
        <div class="w-100 my-3">
            <div class="btn-group pull-right">
                <button class="btn btn-primary btn-lg betterFont" (click)="createCommercialRisk()">
                    <span>Zgłoś nowe ryzyko korupcyjne</span>
                </button>
            </div>
        </div>
        <div>
            <h2>Lista ryzyk korupcyjnych: </h2>
            <ul class="list-group" *ngFor="let cr of commercialRisks">
                <li class="list-group-item">
                    {{cr.name}}
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="!createProposition">
        <div>
            <h2>Lista ryzyk korupcyjnych: </h2>

            <!--<p-organizationChart [value]="data"></p-organizationChart>-->
            <ul class="list-group" *ngFor="let cr of commercialRisks">
                <li class="list-group-item">
                    {{cr.name}}
                </li>
            </ul>
        </div>
    </div>


</div>
